  .heading{
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 30px;
  }
  .headingDiv{
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding: 10px;
  }
  .headingDiv2{
    font-size: 18px ;
  }
  .result_para_tag{
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    white-space: pre-line;
  }
  .result_para_tag span{
    white-space: pre-line;
  }
  .copyRightFooter{
    position: fixed;
    bottom: 0;
    background-color: aquamarine;
    color: blue;
    width: 100%;
    text-align: center;
    line-height: 3;
    font-size: 25px;
  }
  canvas{
    border:10px double red;
    margin-top: 160px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(21, 0, 255);
  }